.login {
  min-width: 200px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.login__form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}

.login__input {
  height: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 255, 0.425);
  border-radius: 4px;
  margin-bottom: 10px;
}

.login__error {
  color: red;
  padding: 5px 10px;
  background-color: rgba(255, 0, 0, 0.005);
  width: 100%;
}

button {
  width: 100%;
  color: rgba(0, 0, 255, 0.425);
  background-color: rgba(0, 255, 128, 0.05);
  border: 1px solid rgba(0, 0, 255, 0.425);
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
}
